
.motherContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
}
.leftContainer {
    width: 30vw;
    height: 100vh;
    background-color: red;
}
.rightContainer {
    width: 70vw;
    height: 100vh;
    background-color: blue;
}